In [29]:
import pandas as pd

In [30]:

df1 = pd.read_csv("countries_of_the_world.csv")
df2 = pd.read_csv("unemployment analysis.csv")

In [31]:
df1['Country Name'] = df1['Country Name'].apply(lambda x: x.replace('"', ''))

In [32]:
dftemp = df2.loc[: , ["Country Name", "Country Code", "1991"]]

In [33]:
df3 = pd.merge(df1, df2, on = 'Country Name', how='outer')

In [34]:
df3

,Country Name,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,ASIA (EX. NEAR EAST),31056997.0,647500.0,"48,0","0,00","23,06","163,07",700.0,"36,0",...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,Albania,EASTERN EUROPE,3581655.0,28748.0,"124,6","1,26","-4,93","21,52",4500.0,"86,5",...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
2,Algeria,NORTHERN AFRICA,32930091.0,2381740.0,"13,8","0,04","-0,39",31,6000.0,"70,0",...,10.97,9.82,10.21,11.21,10.20,10.33,10.42,10.51,12.55,12.70
3,Samoa,OCEANIA,57794.0,199.0,"290,4","58,29","-20,71","9,27",8000.0,"97,0",...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
4,Samoa,OCEANIA,176908.0,2944.0,"60,1","13,69","-11,7","27,71",5600.0,"99,7",...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Middle East & North Africa (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.68,11.40,11.58,11.82,11.93,11.93,11.46,10.60,12.09,12.05
288,South Asia (IDA & IBRD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.91,5.07,4.97,5.14,5.15,5.12,5.12,5.02,7.24,5.79
289,Sub-Saharan Africa (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.85,5.71,5.79,5.82,6.24,6.47,6.48,6.61,7.28,7.66
290,Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.48,5.49,5.49,5.66,5.90,5.93,5.77,6.00,6.76,6.76
291,World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.74,5.73,5.60,5.62,5.66,5.56,5.39,5.36,6.57,6.18

In [35]:
dfnew = pd.DataFrame()
for y in df3.columns[ 21: ]:
    dftemp = df3.loc[ : , ["Country Name","Region","Country Code",y] ]
    dftemp["Year"] = y
    dftemp.columns = ['Country Name', "Region", 'Country Code', 'Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', "Region", 'Country Code', 'Year', 'Value'] ]
    
    dfnew = pd.concat([dfnew, dftemp])

In [36]:
dfnew

,Country Name,Region,Country Code,Year,Value
0,Afghanistan,ASIA (EX. NEAR EAST),AFG,1991,10.65
1,Albania,EASTERN EUROPE,ALB,1991,10.31
2,Algeria,NORTHERN AFRICA,DZA,1991,20.60
3,Samoa,OCEANIA,WSM,1991,2.10
4,Samoa,OCEANIA,WSM,1991,2.10
...,...,...,...,...,...
287,Middle East & North Africa (IDA & IBRD countries),NaN,TMN,2021,12.05
288,South Asia (IDA & IBRD),NaN,TSA,2021,5.79
289,Sub-Saharan Africa (IDA & IBRD countries),NaN,TSS,2021,7.66
290,Upper middle income,NaN,UMC,2021,6.76
291,World,NaN,WLD,2021,6.18