In [2]:
import pandas as pd

In [3]:

df1 = pd.read_csv("countries_of_the_world.csv")
df2 = pd.read_csv("unemployment analysis.csv")

In [ ]:
df1['Country Name'] = df1['Country Name'].apply(lambda x: x.replace('"', ''))

In [4]:
dftemp = df2.loc[: , ["Country Name", "Country Code", "1991"]]

In [15]:
df3 = pd.merge(df1, df2, on = 'Country Name', how='outer')

In [16]:
df3

,Country Name,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,ASIA (EX. NEAR EAST),31056997.0,647500.0,"48,0","0,00","23,06","163,07",700.0,"36,0",...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
1,Albania,EASTERN EUROPE,3581655.0,28748.0,"124,6","1,26","-4,93","21,52",4500.0,"86,5",...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
2,Algeria,NORTHERN AFRICA,32930091.0,2381740.0,"13,8","0,04","-0,39",31,6000.0,"70,0",...,10.97,9.82,10.21,11.21,10.20,10.33,10.42,10.51,12.55,12.70
3,American Samoa,OCEANIA,57794.0,199.0,"290,4","58,29","-20,71","9,27",8000.0,"97,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201.0,468.0,"152,1","0,00","6,6","4,05",19000.0,"100,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
454,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
455,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
456,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
457,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [11]:
dfnew = pd.DataFrame()
for y in df3.columns[ 21: ]:
    dftemp = df3.loc[ : , ["Country Name","Region","Country Code",y] ]
    dftemp["Year"] = y
    dftemp.columns = ['Country Name', "Region", 'Country Code', 'Value', 'Year']
    dftemp = dftemp.loc[ : , ['Country Name', "Region", 'Country Code', 'Year', 'Value'] ]
    
    dfnew = pd.concat([dfnew, dftemp])

In [12]:
dfnew

,Country Name,Region,Country Code,Year,Value
0,Afghanistan,ASIA (EX. NEAR EAST),AFG,1991,10.65
1,Albania,EASTERN EUROPE,ALB,1991,10.31
2,Algeria,NORTHERN AFRICA,DZA,1991,20.60
3,American Samoa,OCEANIA,NaN,1991,NaN
4,Andorra,WESTERN EUROPE,NaN,1991,NaN
...,...,...,...,...,...
453,Samoa,NaN,WSM,2021,9.84
454,"Yemen, Rep.",NaN,YEM,2021,13.57
455,South Africa,NaN,ZAF,2021,33.56
456,Zambia,NaN,ZMB,2021,13.03
457,Zimbabwe,NaN,ZWE,2021,5.17

In [13]:
dfnew.to_csv('df5.csv')